@model dynamic
@{
    Layout.Title = T("Welcome to Orchard").ToString();
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <div>
                <span>@T("Title")</span>
            </div>
        </div>
        <div class="span4">
            <div>
                <span>@T("Title")</span>
            </div>
        </div>
        <div class="span4">
            <div>
                <span>@T("Title")</span>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div>
                <span>@T("Title")</span>
            </div>
        </div>
        <div class="span4">
            <div>
                <span>@T("Title")</span>
            </div>
        </div>
        <div class="span4">
            @Display.DashboardAdvisory()
        </div>
    </div>
</div>
